.container {
  width: 95%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .img-wrapper {
  width: 45px;
  height: 70px;
  display: flex;
  align-items: center;
}

.container img {
  width: 100%;
  object-fit: contain;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
}

.container .container-products {
  width: 95%;
  padding: 30px;
  list-style: none;

  /*display: flex;
  justify-content: space-around;*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.5rem 3rem;
}

