.container-menu {
  padding: 30px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.container-menu a {
  text-decoration: none;
  color: #36A7E8;
  font-weight: bolder;
}

.product-item {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-item h5, h6, p {
  margin-bottom: 10px;
}

.product-item h5, h6 {
  color: rgb(48, 47, 47);
}

.product-item h5 {
  font-size: 18px;
}

.product-item h6, p {
  font-size: 16px;
}

.product-item p {
  color: rgb(61, 61, 61);
}

.product-item h6 span {
  color: rgb(170, 12, 12);
}

.product-item .button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-item .button-wrapper a{
  width: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.product-item button {
  width: 70%;
  border-radius: 3px;
  padding: 7px 15px;
  background: #36A7E8;
  color: #FFFFFF;
  margin: 5px auto;
  cursor: pointer;
  font-weight: bolder;
}
