.nav {
  width: 95%;
  height: 70px;
  margin: 0px auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0 0 7px #868585;
  background: #36A7E8;
}

header .nav .logo-wrapper {
  width: 45px;
  height: 70px;
  display: flex;
  align-items: center;
}

header .nav img {
  width: 100%;
  object-fit: contain;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 7px;
}

.nav .list-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav .list-sub-menu {
  width: 15em;
  /*background: #1078E1;*/
  background: #36A7E8;
  display: none;
  list-style: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  box-shadow: 0px 0px 5px -1px #000000;
}

.list-item {
  align-self: center;
  padding: 12px 10px;
  position: relative;
  text-decoration: none;
  color: #034a91;
  font-weight: bold;
}

.list-item:hover .list-sub-menu {
  display: block;
}

.active-navigation-item {
  color: #FFFFFF !important;
}
