.container-product-details {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.product-details h5, h6, p {
  margin-bottom: 10px;
}

.product-details h5, h6 {
  color: #302f2f;
}

.product-details h5 {
  font-size: 18px;
}

.product-details h6, p {
  font-size: 16px;
}

.product-details p {
  color: #3d3d3d;
  text-align: justify;
}

.product-details p span {
  font-weight: bold;
}

.product-details h6 span {
  color: #aa0c0c;
}

.product-details .button-wrapper,
.product-details .button-wrapper-buy {
  width: 100%;
  display: flex;
  align-items: center;
}

.product-details .button-wrapper-buy {
  justify-content: center;
}

.product-details .button-wrapper {
  justify-content: center;
}

.product-details .button-wrapper a button,
.product-details .button-wrapper-buy a button {
  border-radius: 3px;
  padding: 10px 20px;
  background: #36A7E8;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
  font-weight: bolder;
}

.product-details .button-wrapper-buy a button:nth-child(2) {
  cursor: text;
}

.product-details .button-wrapper-buy a button {
  margin: 5px 1px;
}

.product-details .button-wrapper a button {
  margin: 5px;
}

.product-details .button-wrapper a,
.product-details .button-wrapper-buy a {
  font-weight: bolder;
}

