.section-contacts-page {
    width: 95%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    border-radius: 10px;
    padding-top: 50px;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.7), 
        rgba(255, 255, 255, 0.7)
      ),
      url(../../images/contacts.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section-contacts-page h3, p {
    color: #034a91;
    letter-spacing: 1px;
    text-align: center;
}

.section-contacts-page h3 {
    color: #034a91;
    margin: 20px 0px 0px 0px;
}

.section-contacts-page p {
    font-size: 18px;
    margin: 5px 0px;
}
