/*.product-edit-container {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

.product-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
}

.product-edit-form .label {
  margin-top: 17px;
  color: #4d4d4d;
  font-weight: bolder;
}

.product-edit-form .input-field {
    width: 100%;
    margin: 3px 0px;
    font-size: 18px;
    color: #66B9F8;
    padding: 5px 0px 5px 7px;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    outline: none;
}

.product-edit-form span {
  margin-bottom: 5px;
  font-size: 16px;
  color: rgb(170, 12, 12);
}

.product-edit-form .button-wrapper {
  width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.product-edit-form input[type='submit'],
.product-edit-form a {
  outline: none;
  text-decoration: none;
  width: 48%;
  border-radius: 5px;
  padding: 7px 15px;
  background: #36A7E8;
  color: #FFFFFF;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}



.container-product-edit {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
}

.product-edit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-edit h5, p {
  margin-bottom: 10px;
}

.product-edit h5 {
  margin-top: 30px;
  font-size: 18px;
  color: rgb(48, 47, 47);
}

.product-edit p {
  color: #3d3d3d;
  font-size: 16px;
}

.product-edit span {
  color: #aa0c0c;
}


